---

---

<section class="flex flex-col w-fit items-center">
  <h1 class="text-4xl text-white font-bold">Ramdom Quote Generator</h1>
  <h2 class="text-white mt-3 text-lg font-semibold">
    Generate your favorite quotes!
  </h2>
  <slot />
</section>
