---

---

<section class="flex flex-col w-fit items-center">
  <h1 class="text-4xl text-white font-bold">Ramdom Quote Generator</h1>
  <h2 class="text-white mt-3 text-lg font-semibold">
    Generate your favorite quotes!
  </h2>
  <slot />

  <button
    class="font-semibold bg-white text-slate-950 p-2 rounded-lg mt-10 border-2 border-slate-900 hover:bg-slate-950 hover:text-white transition-colors hover:border-white"
  >
    Change Quote
  </button>
</section>
